body {background:#0BB5FF;}
#container {background:#fff; width:800px; margin:0 auto;padding:1em;border:1px solid black;}
h1{margin:0;}
table, tr, td, th {border:1px solid gray;}
table{width:100%;}
td, th {padding: 0.2em;}
pre {border:1px solid gray; padding:0.2em;margin:0 0.5em;}